<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main > div {
        font-size: 1.5em;
    }
</style>


<div>No items to display.</div>