<style>
    #empty_content {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        max-width: var(--max-width);
        width: 100%;
    }

    #empty_content > div {
        font-size: 1.5em;
    }
</style>

<div id="empty_content">
    <div>No items to display.</div>
</div>
