<link rel="stylesheet" href="~/css/fullscreen-control.css" asp-append-version="true"/>

<div id="fullscreen-container">
    <button id="enter-fullscreen-btn"></button>
    <button id="exit-fullscreen-btn"></button>
</div>

<script src="~/js/fullscreen-control.js" asp-append-version="true"></script>
