<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebReader</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

    @await RenderSectionAsync("Style", false)
</head>
<body>

@Html.AntiForgeryToken()

<header>
    <div>
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            @await RenderSectionAsync("HeaderMenuItems", false)
            @if (User.Identity is { IsAuthenticated: true })
            {
                <li>
                    <a asp-controller="File" asp-action="GetAllBuckets">Buckets</a>
                </li>
                <li>
                    <a asp-controller="File" asp-action="GetReading">Reading</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            }
            else
            {
                <li>
                    <a asp-controller="Account" asp-action="Login"> Login </a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="Register"> Register </a>
                </li>
            }
        </ul>

        @if (User.Identity is { IsAuthenticated: true })
        {
            <h3>Hello, @User.Identity.Name!</h3>
        }
    </div>
</header>
<main>
    @RenderBody()
</main>
<footer>
    @await RenderSectionAsync("Footer", false)
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
