@using WebReader.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, maximum-scale=1.0"/>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="WebReader">
    <link rel="apple-touch-icon" href="~/images/icon-512.png">
    <link rel="manifest" href="~/manifest.json">

    <title>@ViewData["Title"] - WebReader</title>

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

    @await RenderSectionAsync("Style", false)
</head>
<body>

@Html.AntiForgeryToken()
<header>
    @await RenderSectionAsync("SpecialInfo", false)
    <button class="header-toggle"></button>
    <nav>
        <ul>
            <li style="display: none;">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>

            @if (User.Identity is { IsAuthenticated: true })
            {
                @if (User.GetUserRoles().Contains(RoleType.Admin))
                {
                    <li>
                        <a asp-controller="ScheduledTask" asp-action="ScheduledTasks">Scheduled Tasks</a>
                    </li>
                }

                <li>
                    <a asp-controller="File" asp-action="GetAllBuckets">Buckets</a>
                </li>
            }

            @await RenderSectionAsync("HeaderMenuItems", false)

            @if (User.Identity is { IsAuthenticated: true })
            {
                <li>
                    <a asp-controller="File" asp-action="GetReading">Reading</a>
                </li>
                <li style="display: none;">
                    <form asp-controller="Account"
                          asp-action="DeleteMe"
                          method="post"
                          style="display:inline;">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit"
                                onclick="return confirm('⚠️ This will permanently delete your profile. Continue?');">
                            Delete Profile
                        </button>
                    </form>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            }
            else
            {
                <li>
                    <a asp-controller="Account" asp-action="SignIn">Sign in</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="SignUp">Sing up</a>
                </li>
            }
        </ul>
    </nav>
</header>
<main>
    @RenderBody()
</main>
<footer>
    @await RenderSectionAsync("Footer", false)
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/custom-event.js" asp-append-version="true"></script>
<script src="~/js/custom-axios.js" asp-append-version="true"></script>
<script src="~/js/to-local-date-time.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)

<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js')
                .then(reg => console.log('Service Worker зарегистрирован!', reg))
                .catch(err => console.log('Ошибка регистрации SW:', err));
        });
    }
</script>
</body>
</html>
