@model WebReader.Models.Dtos.AllBucketsViewModel

@{
    ViewData["Title"] = "BUCKETS";
}

@section Style
{

    <style>
        .bucket-line {
            width: 100%;
            max-width: var(--max-width);
        }
    </style>
}

@if (Model.Items.Any())
{
    <h2>All Available Buckets</h2>
    @foreach (var item in Model.Items)
    {
        <div class="bucket-line">
            <a asp-controller="File" asp-action="GetAllFilesInBucket"
               asp-route-bucketName="@item.Name">@item.CustomName - @item.DateTime.LocalDateTime</a>
        </div>
    }
}
else
{
    @await Html.PartialAsync("_EmptyDisplay")
}

@section Scripts
{
    <script>
    </script>
}
