@{
    ViewData["Title"] = "ACCESS DENIED";
}

@section Style
{
    <style>
        #access-denied {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            max-width: var(--max-width);
            width: 100%;
            flex-wrap: wrap;
            flex-direction: column;
        }

        #access-denied > h1 {
            font-size: 2em;
        }
    </style>
}

<div id="access-denied">
    <h1>ACCESS</h1>
    <h1>DENIED</h1>
</div>

@section Scripts
{
}
