@model WebReader.Models.Dtos.LoginViewModel

@{
    ViewData["Title"] = "LOGIN";
}

@section Style
{
    <link rel="stylesheet" href="~/css/login-register.css" asp-append-version="true"/>
}

<h2>Login</h2>

<form asp-controller="Account" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>

    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username"/>
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <input asp-for="RememberMe"/>
        <label asp-for="RememberMe">Remember me</label>
    </div>

    <div asp-validation-summary="All"></div>

    <button type="submit">Login</button>
    <a asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
</form>

@section Scripts
{
    <script>
    </script>
}
