@model WebReader.Models.Dtos.LoginViewModel

@{
    ViewData["Title"] = "SIGN IN";
}

@section Style
{
    <link rel="stylesheet" href="~/css/login-register.css" asp-append-version="true"/>
}

<form asp-controller="Account" asp-action="SignIn" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>

    <div class="username-password-container">
        <input asp-for="Username" placeholder="Username" autocomplete="username" autocapitalize="off"
               autocorrect="off" spellcheck="false"/>
        <input asp-for="Password" placeholder="Password"/>
    </div>

    <div class="remember-me">
        <input asp-for="RememberMe"/>
        <label asp-for="RememberMe">Remember me</label>
    </div>

    <div asp-validation-summary="All"></div>

    <div class="login-register-btns">
        <button type="submit" class="login-btn"></button>
    </div>
</form>

@section Scripts
{
    <script>
    </script>
}
