@model WebReader.Models.Dtos.RegisterViewModel

@{
    ViewData["Title"] = "SIGN UP";
}

@section Style
{
    <link rel="stylesheet" href="~/css/login-register.css" asp-append-version="true"/>
}

<h2 class="title">Sign up</h2>

<form asp-action="SignUp" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>

    <div class="username-password-container">
        <label asp-for="Username"></label>
        <input asp-for="Username"/>

        <label asp-for="Password"></label>
        <input asp-for="Password"/>
    </div>

    <div class="remember-me">
        <input asp-for="RememberMe"/>
        <label asp-for="RememberMe">Remember me</label>
    </div>

    <div asp-validation-summary="All"></div>

    <div class="login-register-btns">
        <button type="submit" class="register-btn"></button>
        <a asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="login-btn"></a>
    </div>
</form>

@section Scripts
{
    <script>
    </script>
}
