@model WebReader.Models.Dtos.AllScheduledTasksViewModel

@{
    ViewBag.Title = "Scheduled Tasks";
}

@section Style
{
    <link rel="stylesheet" href="~/css/scheduled-tasks.css" asp-append-version="true"/>
}

@section SpecialInfo
{
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h3 class="special-info-big">Hello, @User.Identity.Name!</h3>
    }
}

@await Html.PartialAsync("_ModalInfoWithCustomHtml")

<div id="partialContainer">
    @await Html.PartialAsync("_ScheduledTasksPartial", Model)
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/9.0.6/signalr.min.js"
            integrity="sha512-kkMt8UThSmWcdXLYFaGZ/U6vyWSNLZMUWQ5SMeF80pGqrEkH5ei9D/3MbVQpB8p7D5C3A4vlX7BpsWTT2BfB6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        const rawValues = {
            "Type": null,
            "Status": null,
            "Cron": null,
        };

        const filteredValues = Object.fromEntries(
            Object.entries(rawValues)
                .filter(([_, val]) => val !== null && val !== undefined)
                .map(([key, value]) => [key, String(value)])
        );

        reload();

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/ScheduledTaskHub")
            .build();

        connection.on("ScheduledTaskHub", reload)

        connection.start()
            .then(() => {
            })
            .catch(err => console.error(err.toString()));

        function reload() {
            requestQueue.enqueue({
                method: 'POST',
                url: '/ScheduledTask/ScheduledTasksPartial',
                data: {Values: filteredValues},
                options: {
                    headers: {
                        'RequestVerificationToken': GetAntiForgeryToken()
                    },
                    withCredentials: true
                },
                beforeSend: () => {
                },
                setProgress: (val) => {
                }
            })
                .then(async response => {
                    document.getElementById('partialContainer').innerHTML = await response.data;
                })
                .catch(error => {
                    console.error(`Ошибка при выполнении AJAX-запроса: ${error}`);
                });
        }
    </script>
}
