@inject IHttpContextAccessor HttpContextAccessor
@{
    var nonce = HttpContextAccessor.HttpContext?.Items["ScriptNonce"]?.ToString();
    ViewData["Title"] = "HOME";
}

@section Style
{
}

@section SpecialInfo {
    @if (User.Identity is { IsAuthenticated: true })
    {
        <h3 class="special-info-big">Hello, @User.Identity.Name!</h3>
    }
    else
    {
        <h3 class="special-info-big">Web Reader</h3>
    }
}

<div id="cache-manager">
    <h3>Space</h3>
    <div id="free-space"></div>

    <br/>

    <details open>
        <summary>
            <h3>Files</h3>
            <button class="btn prune-file"> Prune All</button>
        </summary>
        <div id="file-cache-manager"></div>
    </details>

    <br/>
    <br/>

    <details open>
        <summary>
            <h3>User</h3>
            <div id="user-cache-manager"></div>
        </summary>
        <button class="btn prune-user">Prune All</button>
    </details>

    <br/>
    <br/>

    <details>
        <summary>
            <h3>Core</h3>
            <button class="btn prune-core"> Prune All</button>
        </summary>
        <div id="core-cache-manager">
        </div>
    </details>
</div>

@section Scripts
{
    <script nonce="@nonce">
        fileCacheService.getAll().then(response => {
            document.querySelector("#file-cache-manager").innerHTML = respToStr(response);
        }).catch(error => {
            console.error(error);
        });

        userCacheService.getAll().then(response => {
            document.querySelector("#user-cache-manager").innerHTML = respToStr(response);
        }).catch(error => {
            console.error(error);
        });

        coreCacheService.getAll().then(response => {
            document.querySelector("#core-cache-manager").innerHTML = respToStr(response);
        }).catch(error => {
            console.error(error);
        });

        getFreeCacheSpace().then(res => {
            document.querySelector("#free-space").innerHTML = `USED: ${formatSize(res.used)}(${res.used / res.quota * 100}%) | FREE: ${formatSize(res.free)}(${res.free / res.quota * 100}%) | QUOTA: ${formatSize(res.quota)}`;
        });

        async function getFreeCacheSpace() {
            if ('storage' in navigator && 'estimate' in navigator.storage) {
                const estimate = await navigator.storage.estimate();
                const usedSpace = estimate.usage;
                const totalQuota = estimate.quota;
                const freeSpace = totalQuota - usedSpace;

                return {
                    used: usedSpace,
                    free: freeSpace,
                    quota: totalQuota
                };
            } else {
                console.log("Storage estimation API not supported.");
            }
        }

        function formatSize(size) {
            if (size === 0) return "0B";

            let digits = size.toString().length;

            if (digits > 10) return (size / 1024 / 1024 / 1024).toFixed(0) + "GB";
            if (digits > 6) return (size / 1024 / 1024).toFixed(0) + "MB";
            if (digits > 3) return (size / 1024).toFixed(0) + "KB";
            return size + "B";
        }

        function respToStr(resp) {
            return resp.filter(f => f.key)
                .map(f => `<div>${f.key} | ${f.data.byteLength}</div>`)
                .reduce((f1, f2) => `${f1}${f2}`, '');
        }

        document.querySelector(".prune-file").onclick = () => fileCacheService.deleteAll().then(() => window.location.reload());
        document.querySelector(".prune-user").onclick = () => userCacheService.deleteAll().then(() => window.location.reload());
        document.querySelector(".prune-core").onclick = () => coreCacheService.deleteAll().then(() => window.location.reload());
    </script>
}
