details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

details > summary {
    margin-bottom: 1em;
    text-align: center;
}

details > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, 13em);
    justify-content: center;
    gap: 1.5em;
}

.item-line {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 2em;
    gap: 0.5em;
    border-radius: 0.75em;
    overflow: hidden;
}

.item-line > .lazy-image-wrapper {
    width: 100%;
    aspect-ratio: 9/16;
    border-radius: 0.75em;

    grid-column: 1;
    grid-row: 1;
}

.item-line:hover > .lazy-image-wrapper > .lazy-image {
    transform: translateY(-0.5em) scale(1.05);
}

.lazy-image-wrapper:has(.lazy-image.lazy-image-loaded) .lazy-image-loader {
    z-index: 2;
}

.item-line > a {
    grid-column: 1;
    grid-row: 1;

    width: 100%;
    aspect-ratio: 9 / 16;
    padding: 1em;
    text-align: center;
    line-height: 2em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);

    text-decoration: none;

    z-index: 1;
}

.item-line > a > span {
    font-weight: 600;
}

.item-line > .btn-download-file {
}

.in-progress-empty {
    height: 2em;
    width: 2em;
}

.upload-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.event-output, .additional-info {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, 2em);
    justify-content: space-evenly;
}

.event-output {
    opacity: 1;
    transition: none;
    gap: 0.5em;
}

.total-count {
    line-height: 1.55em;
    font-size: 1.5em;
}

@media (width < 1000px) {
}

@media (width < 800px) {
}

@media (width < 700px) {
}
