main {
    padding: 0;
}

.controls {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.controls > .controls-start,
.controls > .controls-end {
    width: 5em;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.controls > .controls-start {
    justify-content: start;
}

.controls > .controls-center {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.controls > .controls-end {
    justify-content: end;
}

.prev-page, .next-page {
    background-color: var(--foreground-color);
    mask: url("../icons/arrow-circle-up-svgrepo-com.svg") no-repeat center;
    mask-size: cover;
    -webkit-mask: url("../icons/arrow-circle-up-svgrepo-com.svg") no-repeat center;
    -webkit-mask-size: cover;
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-size: cover;
}

.prev-page {
    transform: rotate(-90deg);
}

.next-page {
    transform: rotate(90deg);
}

.preview-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    width: 5em;
}

.event-output {
    position: fixed;
    left: calc((100% - var(--max-width)) / 2 + var(--max-width) - 3.75em);
    bottom: 3.75em;
    width: 3em;
    height: 3em;
    box-shadow: 0 0 1em var(--drop-shadow-color);
    background-color: var(--background-backdrop-color);
    backdrop-filter: blur(var(--backdrop-blur));
    padding: 0.5em;
    border-radius: 0.75em;
}
