details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

details > summary {
    margin-bottom: 1em;
    text-align: center;
}

details > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, 13em);
    justify-content: center;
    gap: 1.5em;
}

.item-line {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 3em;
    box-shadow: 0 0 1em var(--drop-shadow-color);
    border-radius: 0.75em;
    overflow: hidden;
}

.item-line > .lazy-image-wrapper {
    width: 100%;
    aspect-ratio: 9/16;

    grid-column: 1;
    grid-row: 1 / 3;
}

.item-line:hover > .lazy-image-wrapper > .lazy-image {
    transform: translateY(-0.5em) scale(1.05);
}

.lazy-image-wrapper:has(.lazy-image.lazy-image-loaded) .lazy-image-loader {
    z-index: 2;
}

.item-line > a {
    grid-column: 1;
    grid-row: 1 / 3;

    width: 100%;
    aspect-ratio: 9 / 16;
    padding: 1em;
    text-align: center;
    line-height: 2em;
    background: linear-gradient(to bottom, var(--background-color) 0%, rgba(0, 0, 0, 0) 50%, var(--background-color) 100%);

    text-decoration: none;

    z-index: 1;
}

.item-line > a > span:first-child {
    font-weight: 900;
}

.item-line > .btn-download-file {
}

.in-progress-empty {
    height: 2em;
    width: 2em;
}

.upload-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.event-output, .additional-info {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 0 1em 1em 1em;
    gap: 0.5em;
}

.event-output {
    opacity: 1;
    transition: none;
}

.text-info {
    line-height: 1.55em;
    font-size: 1.5em;
}

@media (width < 1000px) {
}

@media (width < 800px) {
}

@media (width < 700px) {
}
