main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 6em);
    margin-bottom: 3em;
}

@media (hover: none) and (pointer: coarse) {
    main {
        min-height: 100dvh;
    }
}

.pdf-canvas-container {
    margin: 0 auto;
    flex-grow: 1;
    display: grid;
    place-items: center;
}

#pdf-canvas {
    width: 100%;
}

h3 {
    text-align: center;
}
