main {
    padding: 0;
}

.controls {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.controls > .controls-start,
.controls > .controls-end {
    width: 5em;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.controls > .controls-start {
    justify-content: start;
}

.controls > .controls-center {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.controls > .controls-end {
    justify-content: end;
}

.prev-page, .next-page {
    background-color: var(--foreground-color);
    mask: url("../icons/arrow-circle-up-svgrepo-com.svg") no-repeat center;
    mask-size: cover;
    -webkit-mask: url("../icons/arrow-circle-up-svgrepo-com.svg") no-repeat center;
    -webkit-mask-size: cover;
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-size: cover;
}

.prev-page {
    transform: rotate(-90deg);
}

.next-page {
    transform: rotate(90deg);
}

.preview-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    width: 5em;
}

.event-output {
    position: fixed;
    left: calc((100% - var(--max-width)) / 2 + var(--max-width) - 3.75em);
    bottom: 3.75em;
    width: 3em;
    height: 3em;
    box-shadow: 0 0 1em var(--drop-shadow-color);
    background-color: var(--background-backdrop-color);
    backdrop-filter: blur(var(--backdrop-blur));
    padding: 0.5em;
    border-radius: 0.75em;
}

.big-page-nav {
    position: fixed;
}

.big-page-nav > .prev-page-controller,
.big-page-nav > .next-page-controller {
    position: fixed;
    top: 20vh;
    bottom: 20vh;
    width: calc((100vw - var(--max-width) + 2em) / 2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em;
}

.big-page-nav > .prev-page-controller > .prev-page,
.big-page-nav > .next-page-controller > .next-page {
    height: 4em;
    width: 4em;
}

.big-page-nav > .prev-page-controller {
    left: 0;
}

.big-page-nav > .next-page-controller {
    right: 0;
}

@media (width < 1000px) {
    .big-page-nav > .prev-page-controller,
    .big-page-nav > .next-page-controller {
        width: 30vw;
    }

    .big-page-nav > .prev-page-controller > .prev-page,
    .big-page-nav > .next-page-controller > .next-page {
        height: 2em;
        width: 2em;
    }

    .big-page-nav > .prev-page-controller {
        justify-content: start;
    }

    .big-page-nav > .next-page-controller {
        justify-content: end;
    }
}

@media (width < 800px) {
    .big-page-nav > .prev-page-controller,
    .big-page-nav > .next-page-controller {
        width: 50vw;
    }

    .big-page-nav > .prev-page-controller > .prev-page,
    .big-page-nav > .next-page-controller > .next-page {
        opacity: 0;
    }
}
