#fullscreen-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

#enter-fullscreen-btn,
#exit-fullscreen-btn {
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#enter-fullscreen-btn {
    background-color: var(--foreground-color);
    mask: url("../icons/fullscreen-svgrepo-com.svg") no-repeat center;
    mask-size: cover;
    -webkit-mask: url("../icons/fullscreen-svgrepo-com.svg") no-repeat center;
    -webkit-mask-size: cover;
}

#exit-fullscreen-btn {
    background-color: var(--foreground-color);
    mask: url("../icons/fullscreen-exit-svgrepo-com.svg") no-repeat center;
    mask-size: cover;
    -webkit-mask: url("../icons/fullscreen-exit-svgrepo-com.svg") no-repeat center;
    -webkit-mask-size: cover;
}

.fullscreen-container-on {
    position: fixed;
    left: calc((100% - var(--max-width)) / 2 + var(--max-width) - 3.75em);
    bottom: calc(0.75em + env(safe-area-inset-bottom));
    width: 3em;
    height: 3em;
    box-shadow: 0 0 1em var(--drop-shadow-color);
    background-color: var(--background-backdrop-color);
    backdrop-filter: blur(var(--backdrop-blur));
    padding: 0.5em;
    border-radius: 0.75em;
    z-index: 5;
}
