main {
    justify-content: center;
    min-height: 100vh;
}

@media (hover: none) and (pointer: coarse) {
    main {
        min-height: 100dvh;
    }
}

form {
    width: var(--max-width);
    max-width: 20em;
}

.username-password-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
    margin-bottom: 1em;
}

.username-password-container > input {
    display: block;
    width: 100%;
    max-width: 20em;
    font-size: 1em;
    padding: 0.5em 1em;
}

.remember-me {
    margin-bottom: 1em;
}

.remember-me > label {
    font-size: 1em;
}

.remember-me > input {
    font-size: 1em;
}

.validation-summary-errors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.login-register-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

.login-btn {
    position: relative;
    display: inline-block;
    background-image: url("../icons/log-in-3-svgrepo-com.svg");
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-btn::after {
    content: "Sign in";
    position: absolute;
    bottom: -1.5em;
    font-size: 1em;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    white-space: nowrap;
}

.register-btn {
    position: relative;
    display: inline-block;
    background-image: url("../icons/user-add-svgrepo-com.svg");
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-size: cover;
}

.register-btn::after {
    content: "Sign up";
    position: absolute;
    bottom: -1.5em;
    font-size: 1em;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    white-space: nowrap;
}
