.no-scroll {
    overflow: hidden;
}

#custom-modal {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 0.5em 1em;
    border-radius: 1em;
    width: fit-content;
    max-width: var(--max-width);
    min-width: 20em;
    background-color: var(--background-backdrop-color);
    backdrop-filter: blur(var(--backdrop-blur));
    box-shadow: 0 0 1em var(--drop-shadow-color);
}

#custom-modal[open],
#custom-modal[open]::backdrop {
    animation: fadein 150ms ease-out forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
        backdrop-filter: blur(0);
    }
    100% {
        opacity: 1;
        backdrop-filter: blur(calc(var(--backdrop-blur)));
    }
}

#custom-modal-content p {
    text-align: justify;
}

#custom-modal-content > p > em {
    padding: 0 0.3em;
}

#close-custom-modal-btn {
    position: relative;
    left: 0.5em;
    float: right;
    margin-left: 0.4em;
}
