main {
    padding: 0.5em;
}

footer {
    gap: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

input,
select {
    width: 100%;
    text-overflow: ellipsis;
}

.tools {
    width: 100%;
    max-width: var(--max-width);
}

.tools > form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em auto;
    gap: 0.5em;
    place-items: center;
    width: 100%;
    border-radius: 0.75em;
    padding: 0.5em;
    box-shadow: 0 0 1em var(--drop-shadow-color);
    background-color: var(--background-backdrop-color);
    backdrop-filter: blur(var(--backdrop-blur));
}

.tools > form > h3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
}

.tools > form > div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25em;
    width: 100%;
}

.tools > form > button[type="submit"] {
    align-self: end;
    justify-self: end;
}

#scheduled_tasks_partial {
    max-width: var(--max-width);
    max-height: calc(100dvh - 7em);
    overflow-y: auto;
    border-radius: 0.75em;
    padding: 0 0.5em 0 0.5em;
    box-shadow: 0 0 1em var(--drop-shadow-color);
    background-color: var(--background-backdrop-color);
    backdrop-filter: blur(var(--backdrop-blur));
    margin-top: 0.5em;
    margin-bottom: 3em;

    &::-webkit-scrollbar {
        display: none;
    }
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
    background: linear-gradient(to top, var(--foreground-color) 2px, var(--background-color) 1px) no-repeat;
    z-index: 1;
}

tbody > tr {
    cursor: pointer;
}

tbody > tr:not(:last-child) {
    border-bottom: 1px solid var(--foreground-color);
}

th, td {
    padding: 0.25em;
    text-align: center;
}

th > h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    text-wrap-mode: nowrap;
}

th.table-task-type-number {
    width: 3em;
}

th.table-task-type-name {
    width: 25em;
}

th.table-task-status {
    width: 7em;
}

th.table-task-progress {
    width: 5.5em;
}

th.table-task-have-to-start-at {
    width: 7em;
}

td.table-task-progress > div {
    position: relative;
    width: 3em;
    height: 3em;
    padding: 0.5em;
    left: 50%;
    transform: translateX(-50%);
}

td.table-task-progress > div > * {
    position: absolute;
}

td.table-task-progress > div > .progress-bar {
    top: 35%;
}

td.table-task-progress > div > .progress-bar-inner-linear {
    top: 58%;
}

td.table-task-progress > div > .progress-bar-inner-text {
    top: -25%;
}

td.table-task-type-name > div,
td.table-task-result > div {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}


@media (width < 915px) {
    th.table-task-type-number,
    td.table-task-type-number {
        display: none;
    }
}

@media (width < 802px) {
    th.table-task-result,
    td.table-task-result {
        display: none;
    }

    th.table-task-type-name {
        width: 20em;
    }
}

@media (width < 800px) {
    .tools > form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto auto;
    }

    .tools > form > h3 {
        grid-column-end: 1;
    }

    .tools > form > *:nth-child(2) {
        grid-row: 2;
    }

    .tools > form > *:nth-child(3) {
        grid-row: 3;
    }

    .tools > form > *:nth-child(4) {
        grid-row: 4;
    }
}

@media (width < 690px) {
    th.table-task-type-name {
        width: 10em;
    }
}

@media (width < 600px) {
    th.table-task-status,
    td.table-task-status {
        display: none;
    }
}
