main {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.tools {
    display: flex;
    gap: 1em;
    z-index: 2;
    position: relative;
    top: 1em;
    max-width: var(--max-width);
    width: var(--max-width);
}

form {
    display: flex;
    flex-direction: column;
    width: calc(50% - 0.5em);
    gap: 0.5em;
    align-items: center;
    border-radius: 0.75em;
    padding: 0.5em;
    box-shadow: 0 0 1em var(--drop-shadow-color);
    background-color: var(--background-backdrop-color);
    backdrop-filter: blur(var(--backdrop-blur));
}

form select,
form input {
    width: 100%;
}

form > h3 {
    text-align: center;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

form > div > div {
    display: grid;
    grid-template-columns: 5em 1fr;
    gap: 0.5em;
    flex-grow: 1;
}

form > div > div > label {
    display: flex;
    align-items: center;
}

form > .btn {
    width: min-content;
    margin-top: auto;
}

#scheduled_tasks_partial {
    max-width: var(--max-width);
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
    backdrop-filter: blur(var(--backdrop-blur));
    background: linear-gradient(to top, var(--foreground-color) 2px, transparent 1px) no-repeat;
    z-index: 1;
}

tbody > tr {
    cursor: pointer;
}

tbody > tr:not(:last-child) {
    border-bottom: 1px solid var(--foreground-color);
}

th, td {
    padding: 0.25em;
    text-align: center;
}

th > h3 {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 4em;
    text-wrap-mode: nowrap;
}

th:nth-child(1) {
    width: 3em;
}

th:nth-child(2) {
    width: 25em;
}

th:nth-child(3) {
    width: 7em;
}

th:nth-child(4) {
    width: 5.5em;
}

th:nth-child(6) {
    width: 7em;
}

td:nth-child(4) > div {
    position: relative;
    width: 3em;
    height: 3em;
    padding: 0.5em;
    left: 50%;
    transform: translateX(-50%);
}

td:nth-child(4) > div > * {
    position: absolute;
}

td:nth-child(4) > div > .progress-bar {
    top: 35%;
}

td:nth-child(4) > div > .progress-bar-inner-linear {
    top: 58%;
}

td:nth-child(4) > div > .progress-bar-inner-text {
    top: -25%;
}

td:nth-child(2) > div,
td:nth-child(5) > div {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

@media (width < 1000px) {
    .tools {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media (width < 916px) {
    form > div {
        flex-direction: column;
    }

    form > div > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    form > div > div > label {
        margin-bottom: 0.5em;
    }

    form > div > div > * {
        width: 100%;
    }
}

@media (width < 915px) {
    th:nth-child(1),
    td:nth-child(1) {
        display: none;
    }
}

@media (width < 802px) {
    th:nth-child(5),
    td:nth-child(5) {
        display: none;
    }

    th:nth-child(2) {
        width: 20em;
    }
}

@media (width < 690px) {
    th:nth-child(2) {
        width: 10em;
    }
}

@media (width < 600px) {
    .tools {
        width: var(--max-width);
        flex-direction: column;
    }

    .tools > form {
        width: 100%;
    }

    th:nth-child(3),
    td:nth-child(3) {
        display: none;
    }
}
