main {
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
}

.tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.75em;
    padding: 0.5em;
    box-shadow: 0 0 1em var(--drop-shadow-color);
    background-color: var(--background-backdrop-color);
    backdrop-filter: blur(var(--backdrop-blur));
}

form > h3 {
    text-align: center;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

form > div > div {
    display: grid;
    grid-template-columns: 4.5em 1fr;
    gap: 0.5em;
}

form > .btn {
    width: min-content;
}

#partialContainer {
    width: 100%;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
    background-color: var(--background-color-with-transparency);
    backdrop-filter: blur(var(--backdrop-blur));
    box-shadow: inset 0 -1px 0 var(--foreground-color);
    z-index: 1;
}

tbody > tr {
    cursor: pointer;
}

tbody > tr:not(:last-child) {
    border-bottom: 1px solid var(--foreground-color);
}

th, td {
    padding: 0.25em;
    text-align: left;
}

th > h4 {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 4.5em;
}

th:nth-child(1) {
    width: 25em;
}

th:nth-child(2) {
    width: 8em;
}

td:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

td:nth-child(3) > div {
    position: relative;
    width: 3em;
    height: 3em;
    padding: 0.5em;
}

td:nth-child(3) > div > * {
    position: absolute;
}

td:nth-child(3) > div > .progress-bar {
    top: 35%;
}

td:nth-child(3) > div > .progress-bar-inner-linear {
    top: 58%;
}

td:nth-child(3) > div > .progress-bar-inner-text {
    top: -25%;
}

pre {
    text-wrap-mode: wrap;
}

@media (width < 875px) {
    .tools {
        grid-template-columns: 1fr;
    }

    form > div {
        flex-direction: row;
    }

    form > div > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    form > div > div > * {
        width: 100%;
    }
}

@media (width < 720px) {
    th:nth-child(4),
    td:nth-child(4) {
        display: none;
    }
}

@media (width < 600px) {
    form > div {
        flex-direction: column;
    }

    form > div > div {
        display: grid;
        grid-template-columns: 4.5em 1fr;
        gap: 0.5em;
    }

    th:nth-child(3),
    td:nth-child(3) {
        display: none;
    }
}
