@font-face {
    font-family: 'Comfortaa';
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Comfortaa-VariableFont_wght.ttf') format('truetype-variations');
}

:root {
    color-scheme: dark;
    --max-width: 60em;
    --backdrop-blur: 0.25em;
    --background-backdrop-color: #222222A5;
    --background-backdrop-color-sub: #222222A5;
    --background-color: #222222;
    --background-color-with-transparency: #222222A5;
    --foreground-color: #ccc;
    --foreground-color-waiting-progress: #045778;
    --success-foreground-color: #047857;
    --error-foreground-color: #B91C1C;
    --drop-shadow-color: #111;
    --canvas-invert: 0.867;
    --animation-time: 150ms;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-backdrop-color: #ddddddA5;
        --background-backdrop-color-sub: #e9e9e9a5;
        --background-color: #dddddd;
        --background-color-with-transparency: #eeeeeeA5;
        --foreground-color: #000;
        --foreground-color-waiting-progress: #1081B9;
        --success-foreground-color: #10B981;
        --error-foreground-color: #EF4444;
        --drop-shadow-color: #aaa;
        --canvas-invert: 0.067;
        color-scheme: light;
    }
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Comfortaa', sans-serif;
    font-variant-numeric: tabular-nums;
    font-weight: 300;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    color: var(--foreground-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

*,
*::before,
*::after {
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100svh;
    font-size: 14px;
    overflow: hidden;
    overscroll-behavior: none;
    background-color: var(--background-color);
}

@supports (-webkit-touch-callout: none) {
    html, body {
        height: 100dvh;
    }
}

body {
    display: grid;
    grid-template-rows: env(safe-area-inset-top) auto 1fr auto env(safe-area-inset-bottom);
    grid-template-columns: auto var(--max-width) auto;
    justify-items: stretch;
    align-items: stretch;
}

#safe-area-inset-top,
#safe-area-inset-bottom {
    position: relative;

    grid-column: 1 / 4;

    background-color: var(--background-color);

    z-index: 4;
}

#safe-area-inset-top {
    grid-row: 1;
}

#safe-area-inset-bottom {
    grid-row: 5;
}

header, main, footer {
    -webkit-touch-callout: none;
    grid-column: 2;
    padding: 0.5em;
}

header, footer {
    box-shadow: 0 0 1em var(--drop-shadow-color);
    background-color: var(--background-backdrop-color);
    backdrop-filter: blur(var(--backdrop-blur));

    position: relative;
    z-index: 2;

    display: grid;
}

header {
    border-radius: 0 0 0.75em 0.75em;
    grid-template-columns: auto 2em;
    grid-template-rows: 2em 0fr;
    align-items: center;
    grid-row: 2;
}

main {
    overflow-y: auto;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
    min-height: 0;
    grid-row: 3;
}

footer {
    display: none;
    border-radius: 0.75em 0.75em 0 0;
    gap: 0.5em;
    grid-row: 4;
}

.special-info-small {
    display: none;
}

#scroll-progress-bar {
    position: relative;
    grid-column: 1 / 4;
    grid-row: 4;
    align-self: end;

    height: 0.2em;
    width: 0;

    background-color: var(--error-foreground-color);

    z-index: 3;
}

@media (width < 1000px) {
    :root {
        --max-width: 100%;
    }

    html, body {
        font-size: 18px;
    }
}
