@font-face {
    font-family: "VarelaRound";
    src: url("../fonts/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-Medium.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-Regular.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-Light.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-Thin.ttf");
    font-weight: 300;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: "MPLUSRounded1c", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    outline: none;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

*,
*::before,
*::after {
}

:root {
    --max-width: 60em;
}

html {
    font-size: 18px;
    overflow-y: scroll;
}

html, body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@media (width < 1000px) {
    :root {
        --max-width: 100%;
    }

    html {
        font-size: 14px;
    }
}

.special-info-small {
    display: none;
    text-align: center;
}

@media (width < 700px) {
    html {
        font-size: 16px;
    }

    .special-info-big {
        display: none !important;
    }

    .special-info-small {
        display: block !important;
    }
}

header {
    border-radius: 0 0 0.75em 0.75em;
    position: sticky;
    margin: 0 auto;
    top: 0;
}

header, main, footer {
    padding: 0.5em 1em;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    box-shadow: 0 0 1em lightgray;
    background-color: #ffffffbf;
    backdrop-filter: blur(0.25em);
    z-index: 1000;
    width: 100%;
    max-width: var(--max-width);
}

header > div, footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
}

header > div {
    flex-direction: row-reverse;
}

header > div > ul {
    display: flex;
    gap: 0.5em;
}

header > div > ul > li > a,
header > div > ul > li > form > button {
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
}

header > div > ul > li > a::after,
header > div > ul > li > form > button::after {
    position: absolute;
    content: "";
    width: 0;
    bottom: 0;
    left: 50%;
    height: 0.025em;
    display: block;
    background: black;
    transition: 300ms;
}

header > div > ul > li > a:hover::after,
header > div > ul > li > form > button:hover::after {
    width: 100%;
    left: 0;
}

@media (hover: none) and (pointer: coarse) {
    header > div > ul > li > a::after,
    header > div > ul > li > form > button::after {
        display: none;
    }

    body, html {
        min-height: 100dvh;
        min-width: 100dvw;
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    visibility: hidden;
    border-radius: 0.75em 0.75em 0 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (hover: none) and (pointer: coarse) {
    footer {
        bottom: unset;
        top: calc(100dvh - 3em);
        /*bottom: calc(env(safe-area-inset-bottom) - 1em);*/
    }
}

button {
    border: none;
    background-color: transparent;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;
    font-size: 1em;
}

button:disabled {
    opacity: 0.5;
}

.remove {
    background-image: url("../icons/cross-circle-svgrepo-com.svg");
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

details > summary > span {
    font-size: 1.2em;
    font-weight: 600;
}

.always-open-details {
    cursor: text;
}
