@font-face {
    font-family: "VarelaRound";
    src: url("../fonts/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-Medium.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-Regular.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-Light.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "MPLUSRounded1c";
    src: url("../fonts/MPLUSRounded1c-Thin.ttf");
    font-weight: 300;
    font-style: normal;
}

:root {
    color-scheme: light dark;
    --max-width: 60em;
    --backdrop-blur: 0.25em;
    --background-backdrop-color: #222222A5;
    --background-color: #222;
    --foreground-color: #ccc;
    --success-foreground-color: #047857;
    --error-foreground-color: #B91C1C;
    --drop-shadow-color: #111;
    --canvas-invert: 0.867;
    --animation-time: 300ms;
}

img {
    filter: brightness(0.5) !important;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-backdrop-color: #ddddddA5;
        --background-color: #eee;
        --foreground-color: #000;
        --success-foreground-color: #10B981;
        --error-foreground-color: #EF4444;
        --drop-shadow-color: #aaa;
        --canvas-invert: 0.067;
    }

    img {
        filter: brightness(1) !important;
    }
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: "MPLUSRounded1c", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: var(--foreground-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

*,
*::before,
*::after {
}

html {
    font-size: 16px;
    overflow-y: scroll;
}

html, body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-color: var(--background-color);
}

.special-info-small {
    display: none;
    text-align: center;
}

@media (width < 1000px) {
    :root {
        --max-width: 100%;
    }

    html {
        font-size: 18px;
    }

    .special-info-big {
        display: none !important;
    }

    .special-info-small {
        display: block !important;
    }
}

@media (width < 700px) {
    html {
        font-size: 20px;
    }
}

header {
    border-radius: 0 0 0.75em 0.75em;
    top: 0;
}

header, main, footer {
    padding: 0.5em 1em;
}

header, footer {
    position: sticky;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    box-shadow: 0 0 1em var(--drop-shadow-color);
    background-color: var(--background-backdrop-color);
    backdrop-filter: blur(var(--backdrop-blur));
    z-index: 1000;
    width: 100%;
    max-width: var(--max-width);
}

header > div, footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
}

header > div {
    flex-direction: row-reverse;
}

header > div > ul {
    display: flex;
    gap: 0.5em;
}

header > div > ul > li > a,
header > div > ul > li > form > button {
    position: relative;
    display: inline-block;
    color: var(--foreground-color);;
    text-decoration: none;
}

header > div > ul > li > a::after,
header > div > ul > li > form > button::after {
    position: absolute;
    content: "";
    width: 0;
    bottom: 0;
    left: 50%;
    height: 0.025em;
    display: block;
    background: var(--foreground-color);;
    transition: 150ms;
}

header > div > ul > li > a:hover::after,
header > div > ul > li > form > button:hover::after {
    width: 100%;
    left: 0;
}

@media (hover: none) and (pointer: coarse) {
    header > div > ul > li > a::after,
    header > div > ul > li > form > button::after {
        display: none;
    }

    body, html {
        min-height: calc(100dvh - 3em);
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100vh - 3em);
    visibility: hidden;
    border-radius: 0.75em 0.75em 0 0;
}

@media (hover: none) and (pointer: coarse) {
    footer {
        bottom: unset;
        top: calc(100dvh - 3em);
    }
}

button {
    border: none;
    background-color: transparent;
    opacity: 1;
    transition: opacity var(--animation-time) ease-in-out;
    cursor: pointer;
    font-size: 1em;
}

button:disabled {
    opacity: 0.5;
}

.remove, .close {
    background-color: var(--foreground-color);
    mask: url("../icons/cross-circle-svgrepo-com.svg") no-repeat center;
    -webkit-mask: url("../icons/cross-circle-svgrepo-com.svg") no-repeat center;
}

.event-output {
    opacity: 0;
    transition: opacity var(--animation-time) ease-in-out;
}

.event-output > .waiting {
    background-color: var(--foreground-color);
    mask: url("../icons/stopwatch-wait-svgrepo-com.svg") no-repeat center;
    -webkit-mask: url("../icons/stopwatch-wait-svgrepo-com.svg") no-repeat center;
    animation: wait-wave var(--animation-time) linear infinite;
}

@keyframes wait-wave {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.event-output > .success {
    background-color: var(--success-foreground-color);
    mask: url("../icons/success-tick-svgrepo-com.svg") no-repeat center;
    -webkit-mask: url("../icons/success-tick-svgrepo-com.svg") no-repeat center;
}

.event-output > .error {
    background-color: var(--error-foreground-color);
    mask: url("../icons/error-cross-svgrepo-com.svg") no-repeat center;
    -webkit-mask: url("../icons/error-cross-svgrepo-com.svg") no-repeat center;
}

.remove, .close, .event-output > .waiting, .event-output > .success, .event-output > .error {
    mask-size: cover;
    -webkit-mask-size: cover;
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

details > summary > span {
    font-size: 1.2em;
    font-weight: 600;
}

.always-open-details {
    cursor: text;
}
