@model WebReader.Models.Dtos.FileViewModel

<link rel="stylesheet" href="~/css/file-fb2-preview.css" asp-append-version="true"/>

<div class="fb2-canvas-container common-container  pass-scroll-to-main">
</div>
